# Python
__pycache__/
*.py[cod]
.pytest_cache/

# OS/editor noise
.DS_Store
Thumbs.db
*.log
.vscode/

# Environment and secrets
.venv/
venv/
.env

# Directories to ignore
txt/
test/

# Data files
*.parquet
*.csv
*.json
*.html
*.txt

# Exception: keep this specific CSV file
!pipeline/weather/raw/NYC_Central_Park_weather_1869-2022.csv

